form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-padrao {
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000;
  padding: 8px 15px;
}

/*! Responsividade */
@media screen and (max-width: 480px) {
  form {
    margin: 30px auto;
    width: 90%;
  }

  .input-padrao {
    width: 100%;
    box-sizing: border-box;
  }

  fieldset {
    margin: 4.5% auto;
  }

  .enviar {
    width: 100%;
  }

  table {
    margin: 20px auto 40px;
  }
}
