.titulo-principal {
  padding-left: 20px;
}

p,
.titulo-centralizado {
  text-align: center;
}

p em strong {
  color: red;
}

.principal {
  background-color: #cccccc;
  padding: 30px;
}

#banner {
  width: 100%;
}

#missao {
  font-size: 20px;
}

.beneficios {
  background-color: #ffffff;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-style: italic;
}

.imagem-beneficios {
  width: 50%;
}
